## --*-- 1° Código de Machine Learning --*--
#### https://www.youtube.com/watch?v=DNegkxwQJuY
#### Inteligencia Artificial - EC37C/C71
#### Vinicius Augusto de Souza - 1997530

In [1]:
import pandas as pd

In [11]:
arq = pd.read_csv('wine_dataset.csv')

In [12]:
arq.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [13]:
arq['style'] = arq['style'].replace('red', 0)

In [14]:
arq['style'] = arq['style'].replace('white', 1)

In [19]:
arq

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,1
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,1
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,1
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,1
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,1

#### Separando as variaveis entre preditoras e variavel alvo

In [15]:
y = arq['style']
x = arq.drop('style', axis=1)

In [18]:
from sklearn.model_selection import train_test_split

#### Criando os conjuntos de dados de treino e teste

In [21]:
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.3)

In [23]:
from sklearn.ensemble import ExtraTreesClassifier

#### Criação do modelo

In [26]:
modelo = ExtraTreesClassifier()
modelo.fit(x_treino, y_treino)

ExtraTreesClassifier()

#### Imprimindo resultados

In [28]:
result = modelo.score(x_teste, y_teste)
print("Acurácia: ", result)

Acurácia:  0.9974358974358974

In [29]:
y_teste[400:403]

6106    1
3582    1
1307    0
Name: style, dtype: int64

In [30]:
x_teste[400:403]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
6106,5.1,0.305,0.13,1.75,0.036,17.0,73.0,0.99000,3.40,0.51,12.333333,5
3582,7.6,0.200,0.30,14.20,0.056,53.0,212.5,0.99900,3.14,0.46,8.900000,8
1307,6.8,0.680,0.09,3.90,0.068,15.0,29.0,0.99524,3.41,0.52,11.100000,4

In [31]:
previsoes = modelo.predict(x_teste[400:403])

In [32]:
previsoes

array([1, 1, 0], dtype=int64)

In [33]:
from sklearn.metrics import confusion_matrix

In [42]:
y_treino[400:403]

5112    1
1116    0
1621    1
Name: style, dtype: int64

In [43]:
 y_teste[400:403]

6106    1
3582    1
1307    0
Name: style, dtype: int64

### Compute confusion matrix to evaluate the accuracy of a classification.
#### [0,0] falsos verdadeiros | [0,1] falso positivo | [1,0] positivos verdadeiros | [1,1] falso positivos

In [47]:
confusion_matrix(y_treino[400:403], y_teste[400:403])

array([[0, 1],
       [1, 1]], dtype=int64)